<div class='overlapPreventionShowEdit center fadeIn'>
  <p>
    <%= link_to '<< back', :back %>
  </p>

  <p>
    <%= link_to 'edit', edit_avatar_path(@avatar) %> | 
    <%= link_to 'delete', @avatar, method: :delete %>
  </p>

  <h1><%= @avatar.name %></h1>

  <p><%= image_tag @avatar.photo.url(:medium) %></p>

  <p>
    <%= @avatar.description %>
  </p>
</div>
