<!DOCTYPE html>
<html>
  <head>
    <title>Avatarmanager</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= render 'layouts/navbar' unless @disable_nav %>

    <%= yield %>
  </body>
</html>
